<ion-view view-title="Conectar al Campus">
  <ion-nav-buttons side="secondary">
    <!--  <button class="button button-icon ion-ios-help-outline" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>-->
  </ion-nav-buttons>
  <ion-content mm-state-class>
  <br>
		<br>
		<label></label>
      <div class="list" ng-init="siteurl='http://polytecvirtual.edu.co/aulapolytec'">
        <div class="item item-text-wrap">Bienvenidos al Campus Virtual de la Universidad Católica de Oriente. Por favor presione el botón "Continuar" para acceder.</div>
        <form>
         <!-- <label class="item item-input item-stacked-label">-->
            <!--<span class="input-label">{{ 'mm.login.siteaddress' | translate }}</span>-->
         <input type="hidden" value="{{siteurl}}" ng-model="siteurl" mm-no-input-validation ng-change="validate(siteurl)">
         <!-- </label>-->
          <div class="item">
              <button class="button button-block" ng-click="connect(siteurl)">Continuar</button>
          </div>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>
